<button class="btn btn-primary ms-5" (click)="goBack()">← Back</button>

<div class="d-flex justify-content-center align-items-start" style="min-height: 100vh; padding-top: 100px;">

  <div class="card p-4 shadow-lg" style="width: 400px; border-radius: 10px;">

    <h2 class="text-center fw-bold mb-4">SIGNUP</h2>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <div class="mb-3">
        <label class="form-label fw-semibold">Username:</label>
        <input type="text" class="bg-warning" formControlName="username" placeholder="Enter your username">
      </div>

      <div class="mb-3">
        <label class="form-label fw-semibold">Email:</label>
        <input type="email" class="bg-warning" formControlName="email" placeholder="Enter your email">
      </div>

      <div class="mb-3">
        <label class="form-label fw-semibold">Password:</label>
        <input type="password" class="bg-warning" formControlName="password" placeholder="Enter your password">
      </div>

      <p *ngIf="errorMessage" class="text-danger small mb-3">{{ errorMessage }}</p>

      <p *ngIf="successMessage" class="text-success small mb-3">{{ successMessage }}</p>

      <div class="text-end">
        <button type="submit" [disabled]="registerForm.invalid" class="btn btn-success px-4">Register</button>
      </div>

    </form>
  </div>
</div>
