<div class="container mt-3">
  <h3>My Addresses</h3>

  <button class="btn btn-success mb-3" (click)="createAddress()">+ New Address</button>

  <div *ngIf="addresses.length > 0; else noAddress">
    <ul class="list-group">
      <li *ngFor="let address of addresses" class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <strong>{{ address.id }}</strong> <br>
          {{ address.district }}, {{ address.city }} - {{ address.phoneNumber }}
        </div>
        <div>
          <button class="btn btn-sm btn-outline-secondary me-2" (click)="editAddress(address)">Edit</button>
          <button class="btn btn-sm btn-outline-danger" (click)="deleteAddress(address)">Delete</button>
        </div>
      </li>
    </ul>
  </div>

  <ng-template #noAddress>
    <p>No addresses found.</p>
  </ng-template>
</div>
