<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand mx-3" routerLink="/">Customer Panel</a>

  <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav ms-auto align-items-center">

      <li class="nav-item">
        <a class="nav-link" routerLink="/" title="Home">
          <i class="bi bi-house-door-fill" style="font-size: 1.3rem;"></i>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" title="Contact Us">
          <i class="bi bi-question-circle-fill" style="font-size: 1.3rem;"></i>
        </a>
      </li>

      <li class="nav-ite">
        <a class="nav-link" [routerLink]="'/profile/my-addresses'" title="My Addresses">
          <i class="bi bi-geo-alt-fill" style="font-size: 1.3rem;"></i>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/profile" title="Profile">
          <i class="bi bi-person-circle" style="font-size: 1.3rem;"></i>
        </a>
      </li>

      <li class="nav-item">
        <span class="border border-primary bg-light px-2 py-1 rounded me-3">{{ getCurrentUsername() }}</span>
      </li>

      <li class="nav-item position-relative">
        <a class="nav-link" routerLink="/cart" title="Cart">
          <i class="bi bi-cart-fill" style="font-size: 1.3rem;"></i>
          <span *ngIf="cartItemCount > 0" class="position-absolute top-0 star-100 translate-middle badge rounded-pill bg-danger">{{ cartItemCount }}
            <span class="visually-hidden">Number of products in the cart</span>
          </span>
        </a>
      </li>

      <li class="nav-item position-relative">
        <a class="nav-link"
        [routerLink]="pendingOrderId > 0 ? ['/order', pendingOrderId] : '/profile/my-orders'" title="Orders">
          <i class="bi bi-bag-fill" style="font-size: 1.3rem;"></i>
          <span *ngIf="pendingOrderId > 0"class="order-badge"></span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-white border border-danger px-2 py-1 rounded bg-danger me-3 ms-3" (click)="logout()"
        style="cursor:pointer"
        title="Logout">
          <i class="bi bi-box-arrow-right" style="font-size: 1.3rem;"></i>
        </a>
      </li>

    </ul>
  </div>

</nav>

<button class="btn btn-primary ms-2 mt-3" *ngIf="showBackButton" (click)="goBack()">← Back</button>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
