<div class="sidebar-heading text-white p-3 border-bottom">Admin Panel</div>
<div class="list-group list-group-flush">

    <a routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
       class="list-group-item list-group-item-action list-group-item-dark p-3">
        <i class="bi bi-speedometer2 me-2"></i> Dashboard
    </a>

    <a routerLink="/admin/orders" routerLinkActive="active"
       class="list-group-item list-group-item-action list-group-item-dark p-3">
        <i class="bi bi-basket-fill me-2"></i> Orders
    </a>

    <a routerLink="/admin/products" routerLinkActive="active"
       class="list-group-item list-group-item-action list-group-item-dark p-3">
        <i class="bi bi-box-seam me-2"></i> Products
    </a>

    <a routerLink="/admin/users" routerLinkActive="active"
      class="list-group-item list-group-item-action list-group-item-dark p-3">
        <i class="fa-regular fa-user"></i> Users
    </a>

    </div>
